html,
*,
*:after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #77D9BD;
    box-sizing: inherit;
}

.box {
    color: white;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.box1 {
    background-color: #012030;
}

.box2 {
    background-color: #13678A;
}

.box3 {
    background-color: #45C4B0;
}

.box4 {
    background-color: #9AEBA3;
}

.box5 {
    background-color: #DAFDBA;
}

.box6 {
    background-color: #042940;
}

.box7 {
    background-color: #005C53;
}

.box8 {
    background-color: #9FC131;
}

.box9 {
    background-color: #DBF227;
}

.box10 {
    background-color: #D6D58E;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 10px solid goldenrod;
    height: 100vh;
}

.box {
    flex-basis: 250px;
    flex-grow: 1;
}

.box5 {
    flex-grow: 5;
}

.box4 {
    flex-basis: 100px;
}